body {
    background-color:lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslateblue;
}

.container {
    padding-top: 50px;
}

#highscores-form {
    display: none;
}