body {
    background-color:lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslateblue;
}

h1 {
    padding-bottom: 50px;
}

.container {
    padding-top: 50px;
}


#highscores-form {
    padding-top: 50px;
    /* 
    display: ; */
}